

body {
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.basic-block {
    text-align: center;
    padding: 50px 0;
}

.head-block {
    background-image: url('../img/Layer%2021@1X.png');
    padding-top: 530px;
    padding-left: 190px;
    padding-bottom: 145px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}    

.head-block-title {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 0;
}

.head-block-subtitle {
    margin: 0 0 25px; 
    font-size: 18px;
}

.head-block-slogan {
    font-size: 54px;
    text-transform: uppercase;
    padding: 45px 30px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px white solid;
}

.slogan-margin {
    margin-right: 50px;
}

.yelow-text {
    color: #f1ad1d;
}

/*basic*/
.basic-title {
    color: #333;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 35px;
    font-weight: 700;
}

.basic-subtitle {
    font-size: 17px;
}
.orange-line {
    margin: 50px auto;
    width: 60px;
    border: solid 2px #f1ad1d;
}

.navbar-logo {
    font-size: 36px;
    color: #f1ad1d;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    width: 10%;
}

nav.container {
    text-transform: uppercase;
}

.navbar-menu {
    width: 89%;
    list-style: none;
    display: inline-block;  
    text-align: right;
    border-bottom: 2px solid #f1ad1d;
}

.navbar-menu-item {
    display: inline-block;
    font-size: 18px;
    color: #3d3d3d;
    margin-bottom: 30px;
}

.navbar-menu-link {
    color: #333;
    font-size: 18px;
    text-decoration: none;
}







